<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Local CSS -->
    <!-- <link rel="stylesheet" href="../style/styles.css" /> -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <div class="container text-center">
      <div class="jumbotron">
        <h1 class="display-4">Chez Luc</h1>
        <p class="lead">
          The best fine dining experience in San Francisco
        </p>
        <hr class="my-4" />
        <p>
          You can either view the tables or make a reservation using the buttons
          below
        </p>
        <a class="btn btn-danger btn-lg" href="./reserve.html" role="button"
          >Make A Reservation</a
        >
        <a class="btn btn-primary btn-lg" href="./tables.html" role="button"
          ><span class="fa fa-list-alt"> The Tables </span>
        </a>
      </div>
    </div>
  </body>
</html>
